/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

.page-search #content,
.not-front .node.view-mode-full { /* Node wrapper */
  background: #f7f7ed url(../images/node-bg-treeleaf.png) scroll no-repeat bottom right;
  min-height: 280px;
  padding: 20px 30px 20px 30px;
  position: relative;
}

.not-front .view article {
  background: #f7f7ed;
  margin-bottom: 2em;
  padding: 20px;
  position: relative;
}

.not-front.sidebar-first .brush-stroke {
  background: transparent url(../images/brushstroke.png) scroll no-repeat left top;
  height: 301px;
  left: 213px;
  position: absolute;
  top: 112px;
  width: 60px;
}

.preview .node { /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}


.field-name-field-image {
  border: #fff 2px solid;
  -moz-box-shadow:    4px 4px 9px 0px #666;
  -webkit-box-shadow: 4px 4px 9px 0px #666;
  box-shadow:         4px 4px 9px 0px #666;
  float: right;
  margin-right: -8px;
  margin-top: -36px;
  width: 305px;
}
.node-teaser .field-name-field-image {
  margin-top: -81px;
}
.field-name-field-image * {
  line-height: 0;
}

.node-3 h2.block-title {
  color: #320000;
  margin-top: 1.75em;
}
.front article.node-3 table {
  margin-top: 0.75em;
}
